@model KickballManager.ViewModels.AvailablePlayers
@{
    ViewBag.Title = "Assign Players";
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<th>
    <table class="table">

        <tr>
            <th>
                Name
            </th>
            <th>
                Team Name
            </th>
            <th>
                Add To Team
            </th>
            </tr>
            @foreach (var item in Model.Players)
            {
                <form method="post">
                <tr>
                    @Html.Hidden("teamID", Model.TeamID)
                    @Html.Hidden("PlayerID", item.ID)
                    <td>
                        @Html.DisplayFor(model => item.Name)
                    </td>


                    <td>
                        @Html.DisplayFor(model => item.TeamID)
                    <td>
                        <input type="submit" />
                    </td>

                </tr>
                </form>
            }
        </table>
