@model KickballManager.Models.LineupDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LineupDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hasKicked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasKicked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hasFielded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasFielded)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LineupDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
